{{- $useSecrets := promptBoolOnce . "useSecrets" "Use secrets from Bitwarden [t/f]" -}}

{{- $email := "" -}}
{{- if $useSecrets -}}
{{-   $email = (rbw "email").data.username -}}
{{- else -}}
{{-   $email = promptStringOnce . "email" "git email address" -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    email             = {{ $email | quote }}
    useSecrets        = {{ $useSecrets }}

    # Constants
    osid              = {{ $osid | quote }}
    xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
    xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
    xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
    xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"
