#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}
{{ template "lib_github_release_installer.bash" . }}

VERBOSE=false

_postInstall_() {
    local version="$1"
    tar -xzf "fzf-${version}-linux_amd64.tar.gz"
    mv fzf "${HOME}/bin/fzf"
    chmod +x "${HOME}/bin/fzf"
}

_installFromGitHubRelease_ \
    "junegunn/fzf" \
    "fzf" \
    "fzf-\${vless_version}-linux_amd64.tar.gz" \
    "fzf --version | awk '{print \$1}'" \
    "_postInstall_"

_safeExit_ 0
