#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}
{{ template "lib_github_release_installer.bash" . }}

VERBOSE=false

_postInstall_() {
    local version="$1"
    mv "fx_linux_amd64" "${HOME}/bin/fx"
    chmod +x "${HOME}/bin/fx"
}

_installFromGitHubRelease_ \
    "antonmedv/fx" \
    "fx" \
    "fx_linux_amd64" \
    "fx --version" \
    "_postInstall_"

_safeExit_ 0
