#!/usr/bin/env bash 

# mise/config.toml hash: {{ include "private_dot_config/mise/config.toml" | sha256sum }}

set -eu

echo ""
echo "--- Install all mise tools ---"

{{ .chezmoi.homeDir }}/.local/bin/mise install --yes
