#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}
{{ template "lib_github_release_installer.bash" . }}

VERBOSE=false

_postInstall_() {
    local version="$1"
    tar -xzf "uv-x86_64-unknown-linux-gnu.tar.gz" --strip-components=1
    mv uv* "${HOME}/bin/"
    chmod +x "${HOME}/bin/uv"* 2>/dev/null || true
}

_installFromGitHubRelease_ \
    "astral-sh/uv" \
    "uv" \
    "uv-x86_64-unknown-linux-gnu.tar.gz" \
    "uv --version | awk '{print \$2}'" \
    "_postInstall_"

_safeExit_ 0
