{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

VERBOSE=false
REPOSITORY="doy/rbw"

_installOrUpdateFzf_() {
    header "Verify rbw installation and check for updates"

    VERSION=$(gh release view --repo "$REPOSITORY" --json tagName --jq .tagName)
    VLESS_VERSION=$(echo "$VERSION" | sed 's/v//g')

    if [[ $(command -v rbw) ]]; then
        CURRENT_VERSION=$(rbw --version | awk '{print $2}')

        if [[ "$CURRENT_VERSION" == "$VLESS_VERSION" ]]; then
            info "rbw is up to date"
            _safeExit_ 0
        fi
    fi

    _makeTempDir_ "$(basename "$0")"
    pushd "${TMP_DIR}" &>/dev/null || exit

    gh release download \
      --repo "$REPOSITORY" "$VERSION" \
      --pattern "rbw_${VLESS_VERSION}_linux_amd64.tar.gz"

    tar -xzf "rbw_${VLESS_VERSION}_linux_amd64.tar.gz"
    mv rbw "${HOME}/bin/rbw"
    mv rbw-agent "${HOME}/bin/rbw-agent"
    rm completion/fish
    mkdir -p "${XDG_DATA_HOME}/completion/rbw"
    mv completion/* "${XDG_DATA_HOME}/completion/rbw"

    popd &>/dev/null || exit
}

_installOrUpdateFzf_
_safeExit_ 0
{{ end }}
