#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

__addTerraformAptRepo() {
  header "Adding Terraform APT repository"

  local hashicorp_keyring="/usr/share/keyrings/hashicorp-archive-keyring.gpg"
  local hashicorp_source_list="/etc/apt/sources.list.d/hashicorp.list"

  if [[ -f "$hashicorp_keyring" && -f "$hashicorp_source_list" ]]; then
      info "Terraform APT repository is already configured"
      return
  fi


  info "Installing Terraform APT repository"

  sudo -v

  if [[ ! $(command -v gpg) ]]; then
      sudo apt update
      sudo apt install -y gpg
  fi

  # Add HashiCorp GPG key
  local gpg_dir="/usr/share/keyrings"
  if [[ ! -f "$hashicorp_keyring" ]]; then
      wget -O - https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o "$hashicorp_keyring"
  fi

  # Add HashiCorp APT repository
  if [[ ! -f "$hashicorp_source_list" ]]; then
      echo "deb [arch=$(dpkg --print-architecture) signed-by=${hashicorp_keyring}] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | sudo tee $hashicorp_source_list
  fi

  success "HashiCorp APT repository added successfully"
  info "Please run 'sudo apt update' to refresh the package list"
}

__addTerraformAptRepo
_safeExit_
