#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}
{{ template "lib_github_release_installer.bash" . }}

VERBOSE=false

_postInstall_() {
    local version="$1"
    sudo dpkg -i "vivid_${version}_amd64.deb"
}

_installFromGitHubRelease_ \
    "sharkdp/vivid" \
    "vivid" \
    "vivid_\${vless_version}_amd64.deb" \
    "vivid --version | awk '{print \$2}'" \
    "_postInstall_"

_safeExit_ 0
